.ruleDescription {
  display: none;
}

/* Box sizing */
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  font-family: "Arial", sans-sherif;
  color: #333;
  background-color: #fff;
  margin: 0;
}

header div:before {
  display: block;
  margin-bottom: 1em;
  font-weight: bold;
}

section {
  margin: 1em;
}

section h2 {
  border: none;
  padding-top: 1em;
}

h1 {
  text-align: center;
  background: #000;
  color: #fff;
  padding: .5em;
  margin: 0;
}

header div,
h3+div {
  padding: .6em;  
  border: 0.1em solid #ddd;
  background: #f0f0f0;
  width: 80%;
  font-size: 85%;
}

table {
  border-collapse: collapse;
  width: 80%;
}

th, td {  
  padding: .6em;
  font-size: 85%;
  text-align: center;
}

td, th {
  border: .1em solid #ddd;
}

td.comment {
  background-color: #fafafa;
}

tr:focus {
  outline: .15em solid #000;
}

th {  
  font-weight: bold;
  background-color: #f0f0f0;
}

#rule {
  width: 80%;
}

.left {
  text-align: left;
}

ul {
  margin: .5em 0;
}

footer {
  width: 100;  
}

footer a {
  color: #777;
  font-size: 75%;
  margin: 1em;
}