.ruleDescription {
  display: none;
}

html {
  box-sizing: border-box;
}

body {
   font-family: "Arial", sans-sherif;
    color: #000;
    background-color: #fff;
    margin: 2em 0 0 1em;
}

th {
  text-align: left;
}

h1 {
  margin: 0 0 2em 0;
}

h3 {
  margin-left: .5em;
  padding
}

h3+div {
  margin: 0px 1em 1em 1em;
  background: #f0f0f0;
  padding: 1em;
}

ul {
  background: #f0f0f0;
  list-style: none;
  margin: 0 1em 0 1em;
  padding: 1em;
}

*:not(h2)+h2 {
  margin: 2em 0 1em 0;
}

li span {
  display: inline-block;
  width: 3em;
}
